<article class="panel panel-default">
	        		<div class="panel-body">
	        			{{ message.content }}
	        		</div>

	        		<footer class="panel-footer">
	        			<div class="author">
	        					{{message.username}}
	        			</div>

	        			<div class="config">
	        				<a href="#">Edit</a>
	        				<a href="#">Delete</a>
	        			</div>
	        		</footer>
	        </article>
	`